---
import ArrowCardButton from "@components/ArrowCardButton.astro";
import RootPageIndex from "@components/RootPageIndex.astro";

import { CONTACT } from "@consts";

const linkedInContact = CONTACT.find((contact) => contact.type === "LinkedIn")!;
const emailContant = CONTACT.find((contact) => contact.type === "Email")!;
---

<RootPageIndex title="Hire me" searchable>
  <div class="animate mb-4">
    <p class="mb-1">I prefer being contacted by email:</p>
    <section>
      <ArrowCardButton
        href={emailContant.href}
        text={emailContant.displayAs ?? emailContant.type}
        openInNewTab
      />
    </section>
  </div>

  <div class="animate mb-4">
    <p class="mb-1">If you're looking for my professional history, my LinkedIn profile has all the details:</p>
    <section>
      <ArrowCardButton
        href={linkedInContact.href}
        text="Navigate to LinkedIn"
        openInNewTab
      />
    </section>
  </div>
</RootPageIndex>
