/**
 * Syntax highlighting styles
 */

code.highlighter-rouge {
  font-size: $font-size__medium;
}

.highlight {
  margin: 0 0 $line-height__base;
  color: #f8f8f2;
  background-color: #272822;
  background: #272822;

  pre,
  code {
    font-family: $font__monospace;
    color: #f8f8f2;
    background-color: #272822;
    background: #272822;
  }

  table {
    td {
      padding: 5px;
    }
    pre {
      margin: 0;
    }
  }

  .w {
    color: #f8f8f2;
    background-color: #272822;
  }
  .err {
    color: #272822;
    background-color: #f92672;
  }
  .c,
  .cd,
  .cm,
  .c1,
  .cs {
    color: #75715e;
  }
  .cp {
    color: #f4bf75;
  }
  .nt {
    color: #f4bf75;
  }
  .o,
  .ow {
    color: #f8f8f2;
  }
  .p,
  .pi {
    color: #f8f8f2;
  }
  .gi {
    color: #a6e22e;
  }
  .gd {
    color: #f92672;
  }
  .gh {
    color: #66d9ef;
    background-color: #272822;
    font-weight: bold;
  }
  .k,
  .kn,
  .kp,
  .kr,
  .kv {
    color: #ae81ff;
  }
  .kc {
    color: #fd971f;
  }
  .kt {
    color: #fd971f;
  }
  .kd {
    color: #fd971f;
  }
  .s,
  .sb,
  .sc,
  .sd,
  .s2,
  .sh,
  .sx,
  .s1 {
    color: #a6e22e;
  }
  .sr {
    color: #a1efe4;
  }
  .si {
    color: #cc6633;
  }
  .se {
    color: #cc6633;
  }
  .nn {
    color: #f4bf75;
  }
  .nc {
    color: #f4bf75;
  }
  .no {
    color: #f4bf75;
  }
  .na {
    color: #66d9ef;
  }
  .m,
  .mf,
  .mh,
  .mi,
  .il,
  .mo,
  .mb,
  .mx {
    color: #a6e22e;
  }
  .ss {
    color: #a6e22e;
  }
}
