---
type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>
    I'm a staff+ software engineer and solution architect, experienced in
    wearing a leadership hat.
  </p>
  <p>
    My career spans various industries (such as banking, medtech, travel, and
    more), company sizes (ranging from startups to large enterprises), and
    countries (I am a former Londoner and Sydneysider, now settled in Wrocław,
    Poland).
  </p>
  <p>
    If you're seeking a specialist in architecture/cloud/dotnet/nodejs to come
    aboard, feel free to contact me to discuss my availability.
  </p>
</div>
