---
type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>
    I'm a staff+ software engineer, solutions architect, cloud architect
    (primarily Azure) with a programming background (dotnet, nodejs) and
    experience in wearing a technical leadership hat.
  </p>
  <p>
    Having me on board means having a strategic software engineering partner —
    someone who understands both the business and technical sides, and builds
    systems that serve both, mentors high-performing teams, oversees the
    technical aspects of delivery and helps shape the company's tech culture.
    All while staying hands-on with the code and tools.
  </p>
  <p>
    I've helped organizations turn complex requirements into scalable and
    maintainable systems across banking, medtech, travel, and other sectors - in
    organizations ranging from startups to large enterprises - and across
    multiple geographies (I'm a former Sydneysider and Londoner, currently
    settled in Wrocław, Poland).
  </p>
</div>
