<h5 class="separator">
  <span class="separator__title">Author</span>
</h5>

<div class="box box--author">
  <figure class="author-image">
    <div class="img" style="background-image: url(/images/lenardev_author_mini.png)">
      <span class="hidden">Bartosz Lenar</span>
    </div>
  </figure>

  <div class="box__body">

    <h4 class="box__title">
      <strong>Bartosz Lenar</strong>
    </h4>

    <p class="box__text">
      I'm a computer software professional, playing roles of programmer, technical leader, and solutions architect in my clients' success stories for over ten years.
      <br />
      <br />
      My career as a contractor is marked by delivered projects and maintainable code handed over across a variety of domains, companies, and countries. Among other great work experiences, I'm proud to mention leading a dev team and designing an AI-based data analysis tool in Wroclaw (PL), coding backend architecture of Australia's largest bank in Sydney (AU), or inventing cloud-first data processing pipeline in London (UK).
      <br />
      <br />
      I'm a Microsoft Certified Professional, Master of Science in Computer Science, Open Source contributor, knowledge sharer. Privately - a husband, board games geek, heavy metal fan, and a sushi chef wannabe.
      <br />
      <br />
      Originally from Poland. Former Londoner and Sydneysider, currently based in the mainland EU.
      <br />
      <br />
      Interested in having me on board? <a href="{{ base_path }}/hire-me">Hire me!</a>
    </p>

  </div><!-- box__body -->

</div><!-- box -->